<h2>
    <%= link_to 'お知らせ/',root_path, class: 'header-menu' %>
    <%= link_to 'お店について/',root_path, class: 'header-menu' %>
    <%= link_to 'メニュー/',root_path, class: 'header-menu' %>
    <%= link_to '予約/',root_path, class: 'header-menu' %>
    <%= link_to '会員登録/',users_new_path, class: 'header-menu' %>
    <%= link_to 'ログイン/',root_path, class: 'header-menu' %>
    <%= link_to 'HOME/',root_path, class: 'header-menu' %>

</h2>


<div class="main-container">
    <h6>このページはサンプルとして作成されたものです</h6>


    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>








    <h3>Ohana</h3>
    <p>オハナ（ハワイ語:Ohana)は、ハワイ語で広義の『家族』に相当する概念</p>
    <p>オハナは、『愛』ともいうべき『絆』で結ばれた人のことをいう言葉・・・</p>
</div>








 <div id="footer">
        <p>&copy; 20xx ○○ xxxxxxxxxxxx.</p>
</div>