<% content_for :title do %>
ご来店履歴
<% end %>
<div class="col ">
  <h1>ご来店履歴</h1>
  <p class="form-control">名前: <%= current_user.name %></p>
  <p class="form-control">会員番号: <%= current_user.id %></p> <br>


  <table class="table table-bordered">
    <tr>
      <th>日付</th>
      <th>時間</th>
      <th>スタイリスト</th>
      <th>コース名</th>
    </tr>

    <% @reservations.each do |reserve| %>
    <tr>
      <td><%= reserve.reservation_date.strftime('%Y年%m月%d日') %></td>
      <td><%= reserve.block.block %></td>
      <td><%= reserve.staff.name %></td>
      <td><%= reserve.plan.order %></td>
    </tr>
    <% end %>
  </table>
</div>