<br><br><br><br><br>


<h1>ご来店履歴</h1>

<div class="col-md-6 offset-md-1">

  <p class="form-control">名前: <%= current_user.name %></p>
  <p class="form-control">会員番号: <%= current_user.id %></p> <br>

  <table class="table table-bordered">
    <tr>
      <th>施術日</th>
      <th>コース</th>
      <th>コース名</th>
    </tr>


    <% @reservations.each do |reserve| %>
    <tr>
      <td><%= reserve.reservation_date %></td>
      <td><%= reserve.plan_id %></td>
      <td><%= reserve.plan.order %></td>

    </tr>
    <% end %>
  </table>
</div>