<div class="col-lg-6 offset-md-2"><br><br><br><br><br><br>
    <p class="form-control">名前: <%= current_user.name %>様</p><br><br><br>


<%= form_for @reservation, url: step2_reserves_path, method: :get do |f| %>

  <div class="form-group">
      <%= f.label :staff_id, "スタッフ指名" %>
      <%=f.text_field :staff_id, class:"form-control" %><br><br><br>

 

  <div class="form-group">
      <%= f.label :reservation_date, "予約希日時" %><br>
      <%=f.text_field :reservation_date, class:"form-control" %><br><br><br>

    </div>

  <%= f.submit 'Step2へ' %>
<% end %>

</div>