<% content_for :title do %>
予約画面STEP1
<% end %>
<div class="col-lg-6 offset-md-2 pd-150">
  <p class="form-control">名前: <%= current_user.name %>様</p><br><br><br>


  <%= form_for @reservation, url: step2_reserves_path, method: :get do |f| %>

  <div class="form-group">
    <%= f.label :staff_id, "スタッフを指名ください" %><br>
    <%= f.collection_select :staff_id, Staff.all, :id, :name, :prompt => "スタイリストを選択" %><br><br><br><br>

    <div class="form-group">
      <%= f.label :reservation_date, "予約希日時を選択ください" %><br>
      <%= f.select :reservation_date, @open_days %>
    </div>
    <%= f.submit 'メニュー選択へ' ,class:"btn-secondary" %>
    <% end %><br><br><br><br><br>
  </div>