<div class="col-lg-6 offset-md-2"><br><br><br><br><br><br>
  <p class="form-control">名前: <%= current_user.name %>様</p><br><br><br>


  <%= form_for @reservation, url: step2_reserves_path, method: :get do |f| %>

  <div class="form-group">
    <%= f.label :staff_id, "スタッフを指名ください" %><br>
    <%= f.collection_select :staff_id, Staff.all, :id, :name, :prompt => "スタイリストを選択" %><br><br><br><br>

    <div class="form-group">
      <%= f.label :reservation_date, "予約希日時を選択ください" %><br>
      <%= f.date_select :reservation_date, {}, class: 'input-min' %>
    </div>
    <%= f.submit 'Step2へ' %>
    <% end %>

  </div>