<br><br><br>

<div class="col-lg-6 offset-md-2">

  <h1>お客様情報</h1>

  <h6>いつもご利用ありがとうございます。</h6>

  <div class="form-group">

    <p class="form-control">名前: <%= current_user.name %></p>
    <p class="form-control">メールアドレス: <%= current_user.email %></p>
    <p class="form-control">電話番号: <%= current_user.phone_number %></p>
    <p class="form-control">住所: <%= current_user.address %></p>
    <p class="form-control">誕生日: <%= current_user.birthday %></p>

  </div>
  <br><br><br><br><br><br><br><br><br>


  <%= link_to '予約',step1_reserves_path(current_user), class: "btn btn-secondary btn-lg btn-block" %><br>
  <%= link_to '履歴',reserves_show_path(@user), class: "btn btn-secondary btn-lg btn-block" %>

  <br><br><br><br><br><br><br><br><br>
  <% if current_user.admin === 1 %>
  <h1>管理者メニュー</h1>
  <%= link_to '予約状況（管理者）',"#" %><br>
  <%= link_to 'USER管理画面（管理者）',admin_users_path %><br>
  <%= link_to 'PLANS管理画面（管理者）',admin_plans_path %>
  <% end %>

</div>