<% content_for :title do %>
PLAN管理:追加画面
<% end %>
<div class="col-lg-10 offset-md-1 pd-150">
  <div>
    <%= form_for @plan, url: {action: "create"}, html: {class: "form-group"} do |f| %>
    <div class="form-group">
      <%= f.label :order, "コース名" %>
      <%=f.text_field :order, :placeholder => "コース名を入力" , class:"form-control" %>

      <%= f.label :price, "価格（税込）" %>
      <%=f.text_field :price, :placeholder => "サービス価格を入力" , class:"form-control" %>

      <%= f.label :time, "施術時間" %>
      <%=f.text_field :time, :placeholder => "施術にかかる時間を入力" , class:"form-control" %>

      <%= f.label :time_block, "ブロック数" %>
      <%=f.text_field :time_block, :placeholder => "ブロック占有数を入力" , class:"form-control" %>

      <%= f.label :description, "説明" %>
      <%=f.text_area :description, :placeholder => "コースのアピールポイントなどを記載" , class:"form-control" %>

    </div>
    <%= f.submit "保存" , class:"btn btn-secondary" %>
    <% end %>
    <%= link_to '一覧' , {controller: :plans, action: :index} , id: :link, class: :menu %>
  </div>
</div>