<!DOCTYPE html>
<html>

<head>
  <title>ResevartionApp</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


</head>


<!-- body タグに data-turbolinks 属性を追加 -->

<body data-turbolinks="false">
  <header id="header">
    <div class="header-container">
      <ul>
        <li><%= link_to 'HOME',root_path%></li>
        <% if logged_in? %>
        <li><%= link_to 'ログアウト',logout_path %></li>
        <li><%= link_to '会員情報', users_show_path(id: current_user) %></li>
        <li><%= link_to '予約', step1_reserves_path(current_user) %></li>
        <% else %>
        <li><%= link_to 'ログイン',login_path %></li>
        <li><%= link_to '会員登録',new_users_path %></li>
        <% end %>
        <li><%= link_to 'メニュー',root_path(anchor:'menu') %></li>
        <li><%= link_to 'お店について',root_path(anchor:'about_me') %></li>
        <li><%= link_to 'お知らせ',root_path(anchor:'news') %></li>
        <li><%= link_to '管理者メニュー', events_path %></li>
      </ul>
    </div>
  </header>
  <div class="container"></div>

  <%= yield %>
</body>

</html>