<!DOCTYPE html>
<html lang="ja">

<head>
  <title><%= content_for?(:title) ? yield(:title) : "デフォルトタイトル"%></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>


<!-- body タグに data-turbolinks 属性を追加 -->

<body data-turbolinks="false">
  <div class="container-fluid">
    <header>
      <nav class="navbar navbar-expand-lg ">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li><%= link_to 'HOME',root_path,{class:"nav-link"} %></li>
            <li><%= link_to 'メニュー',root_path(anchor:'menu-table'),{class:"nav-link"} %></li>
            <li><%= link_to 'お店情報',root_path(anchor:'about_me'),{class:"nav-link"} %></li>
            <li><%= link_to 'お知らせ',root_path(anchor:'our-news'),{class:"nav-link"} %></li>

            <% if logged_in? %>
            <li><%= link_to 'ログアウト',logout_path,{class:"nav-link"} %></li>
            <li><%= link_to '会員情報', users_show_path(id: current_user),{class:"nav-link"} %></li>
            <li><%= link_to '予約', step1_reserves_path(current_user),{class:"nav-link"} %></li>


            <% if current_user.admin === 1 %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                管理者メニュー
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to '予約状況', admin_boards_path, {class:"dropdown-item"} %>
                <%= link_to 'USER管理', admin_users_path, {class:"dropdown-item"} %>
                <%= link_to 'PLANS管理', admin_plans_path, {class:"dropdown-item"} %>
                <%= link_to 'STAFFS管理', admin_staffs_path, {class:"dropdown-item"} %>
                <%= link_to '休業管理', admin_holidays_path, {class:"dropdown-item"} %>
                <%= link_to 'UPDATE情報', admin_updates_path, {class:"dropdown-item"} %>
              </div>
            </li>

            <% end %>
            <% else %>
            <li><%= link_to 'ログイン',login_path,{class:"nav-link"}  %></li>
            <li><%= link_to '会員登録',new_users_path,{class:"nav-link"}  %></li>
            <% end %>
          </ul>

        </div>

      </nav>
    </header>

    <div class="body-page">
      <%= yield %>
    </div>
  </div>
</body>

</html>